@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 30, 33%, 5%;
  --background: 0, 100%, 99%;
  --link: 244, 70%, 51%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 0, 100%, 99%;
    --background: 30, 33%, 5%;
    --link: 357, 70%, 52%;
  }
}

body {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

main {
  max-width: 1024px;
  margin: auto;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

a {
  color: hsl(var(--link));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
