@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: hsl(30, 33%, 1%);
  --background: hsl(0, 100%, 99.8%);
  --link: hsl(244, 70%, 51%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: hsl(0, 100%, 99.8%);
    --background: hsl(0, 100%, 1.2%);
    --link: hsl(357, 100%, 70%);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

header {
  margin-top: 2.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  margin-bottom: 2.75rem;
}

main {
  max-width: 960px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

a {
  color: var(--link);
}

.front-head {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
