@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 30, 33%, 5%;
  --background: 0, 100%, 99%;
  --link: 244, 70%, 51%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 0, 100%, 99%;
    --background: 19, 100%, 3%;
    --link: 357, 100%, 70%;
  }
}

body {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

header {
  margin-top: 2.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  margin-bottom: 2.75rem;
}

main {
  max-width: 960px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

a {
  color: hsl(var(--link));
}

.front-head {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
