@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100;400;700&family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --color1: #eee;
  --color2: lightblue;
  --color3: #333;
  --color4: #222;
  --color5: #000;
  --color6: aliceblue;
  --color7: lightblue;
}

body {
  background-color: var(--color1);
  font-family: "Alexandria", sans-serif;
  color: var(--color3);
}

.area {
  filter: grayscale(60%);
  border-radius: 180px;
  transition: all 0.5s;
}

.area:hover {
  filter: none;
  background-color: var(--color6);
}

.area:hover .lineInside {
  background-color: var(--color6);
}

header {
  margin-bottom: 2rem;
}

footer {
  margin: 4rem;
  text-align: center;
}

.enterance {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_header nav ul {
  display: flex;
}

.app_header nav ul li a {
  text-decoration: none;
  color: var(--color3);
  transition: all 0.5s;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 600;
  border-bottom: 5px solid var(--color1);
  transition: all 0.5s;
}

.app_header nav ul li a:hover {
  color: var(--color3);
  border-bottom: 5px solid var(--color3);
  background-color: var(--color6);
  padding: 0.5rem 1rem;
  border-radius: 180px;
}

.app_header nav ul li {
  display: flex;

}

.enter_text {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: left;
}

.hallo {
  text-align: center;
  font-size: 4rem;
}

.hallo-sub {
  text-align: center;
  font-size: 2rem;
}

.skillset {
  display: flex;
  margin: 4rem;
}

.skill {
  background-color: aliceblue;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: center;
  background-color: bisque;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color1);
}

.App-link {
  color: #61dafb;
}

.foto_area {
  width: 50%;
  height: auto;
}

.foto {
  border-radius: 180px;
  max-width: 100%;
  max-height: auto;
  filter: grayscale(60%);
  transition: all 0.5s;
}

.foto:hover {
  filter: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 102px;
}

.headbeat {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.project_list {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

@media (max-width: 768px) {
  .project_list {
    flex-direction: column;
  }

  .headbeat {
    flex-direction: column;
  }

  .enterance_area {
    display: flex;
    flex-direction: column;
  }
}

.introText {
  text-align: justify;
}

.part_header {
  text-align: center;
}

.enterance {
  background-color: var(--color1);
  border-radius: 180px;
  text-align: center;
  font-size: 0.8rem;
  margin: 1rem;
  max-width: 50rem;
  max-height: 100vh;
}

.App {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.button {
  text-transform: uppercase;
  background-color: var(--color3);
  color: var(--color1);
  text-decoration: none;
  border: 1px solid var(--color3);
  border-radius: 45px;
  margin: 10%;
  padding: 5%;
  font-size: 1.5rem;
  font-weight: 800;
  transition: all 0.5s;
}

.button:hover {
  background-color: var(--color2);
  border: 1px solid var(--color2);
  color: var(--color3);
}

.centeredThing {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid var(--color3);
  text-align: center;
  margin-bottom: 4rem;
}

.lineInside {
  font-size: 40px;
  background-color: var(--color1);
  padding: 0 50px;
  transition: all 0.5s;
}

a {
  text-decoration: none;
}

.emailButton {
  background-color: var(--color3);
  border: 1px solid var(--color3);
  border-radius: 45px;
  padding: 1rem;
  margin: 3rem auto;
  max-width: 30%;
  transition: all 0.5s;
  text-decoration: none;
  color: var(--color1);
  font-weight: 800;
  font-size: 1.3rem;
}

.emailButton:hover {
  background-color: var(--color2);
  border: 1px solid var(--color2);
  color: var(--color3);
}

@media (min-width: 768px) {
  .area {
    padding: 10rem;
  }
}

.area {
  padding: 3rem;
}

.links a {
  color: var(--color4);
  margin: 1rem;
}

.links a:hover {
  color: var(--color7);
}